body {
	background-color: #5A4B3C;
	color: white;
	text-align: center;
}

#container {
	margin: 0 auto;
	margin-top: 30pt;
	width: 470pt;
	border: 1pt solid red;
}

h1 {
	text-align: center;
}

#summary {
	text-align: left;
	display: hide;
	border: 1pt solid blue;
}