body {
	background-color: #5A4B3C;
	color: white;
	text-align: center;
}

#container {
	margin: 0 auto;
	margin-top: 30pt;
	margin-bottom: 20pt;
	width: 550pt;
}

h1 {
	text-align: center;
}

#summary {
	text-align: left;
	display: block;
}

.row {
	clear: both;
	display: block;
	color: black;
}

.wordCell {
	min-width: 60pt;
	padding: 3pt;
	float: left;
	background-color: white;
}

.countCell {
	width: 60pt;
	padding: 3pt;
	float: left;
	background-color: white;
}
